{% extends "layout.html" %}

{% block title %}Home{% endblock %}
   
{% block page %}{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block styles%}

    td{
        padding: 2px;
    }

    .collection .collection-item.active{
        background-color: #E53935;
    }
{% endblock %}


{% block content %}
<div class="row">
    <div class="col m3 list-container collection" style="max-height: 88vh;">
  <ul>
                    {%for pokemon in Pokemons%}
                    <li >
                        {%if pokemon.id == pokemon_id%}
                        <a id = "poke-{{pokemon.id}}" href="/app/{{pokemon.id}}" class = "active collection-item">{{pokemon.name}}</a>
                        {%else%}
                        <a id = "poke-{{pokemon.id}}" href="/app/{{pokemon.id}}" class = "collection-item">{{pokemon.name}}</a>
                        {%endif%}
                    </li>
                    {%endfor%}
                </ul>
    </div>
    
    <div class="col m3">

            <p class="text-center">Selected Pokemon</p>

            <div id="pokemon-detail" style = "overflow-y: auto; max-height: 100vh; position: fixed; scroll-snap-type: y mandatory;">
                 <!-- Show pokemon details here -->
                 <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon_id}}.png" alt = "Pokemon's Image">
                 <span class = "card-title" >
                    <p>{{poke.name}}</p>
                    <p>Type1: {{poke.type1}}</p>
                    <p>Type2: {{poke.type2}}</p>
                    <p>Weight: {{poke.weight}}</p>
                    <p>Height: {{poke.height}}</p>
                    <form id="pokemon_name" method="POST", style="padding:1em" action="/pokemon/{{pokemon_id}}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Enter a name" id="pokemon_name" name="pokemon_name" type="text" class="validate">
                            </div>
                        </div>
                        <div>
                            <div class="col s4 card-action">
                              <input id = "captureBtn" type="submit" class="blue text-white btn" value="Capture">
                            </div>
                        </div>
                    </form>
                 </span>
            </div>

    </div>

    <div class="col m6" >
        <p class="text-center">Your Pokemon</p>
        <table class="responsive-table" id="pokemon-table">
            <!-- Captured pokemon content here -->
            
        
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
              <!-- show captured pokemon here with controls to rename and release for each pokemon -->
            </tbody>
        </table>
    </div>

</div>



{% endblock %}